p {
    color: black
}

#statBox {
    display: flex;
    margin:0px;
    background-color: blue;
    width: 250px;
    height: 200px;
    

}

#userInput {
    display: flex;
    width: 245px;

}

#pokemonInfoDisplay {
    background-color: red;
    color: black;
    width: 250px;
    height: 250px;
}

#pokemonSprite {
    height: 200px;
    background-color: lightblue;
    display: none;
    width: 250px;
    height: 200px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    
}


.pokemonImage {
    height: 200px;
    background-color: lightblue;
    background-image: url(./images/pokeball.jpg);
    display: block;
    width: 250px;
    height: 200px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#pokeball {
    background-image: url(./images/pokeball.jpg);
    display: block;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 250px;
    height: 200px;
}
